HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### O.S. e Logs ###
.DS_Store
Thumbs.db
*.log
logs/

### Variáveis sensíveis e Ambiente ###
.env
.env.*

### Outros Executáveis / JVM Crashes ###
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
hs_err_pid*
replay_pid*
